@use '../../../../styles/variables' as v;

.calendarGrid {
    padding-inline: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.daysList {
    display: flex;
    flex-direction: row;
}

.headerColumn {
    display: flex;
    flex-direction: column;
    width: 100px;
    color: v.$color-gray30
}

.date {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
}

.weekDay {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
}

.listHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.calendarPrevButton, .calendarNextButton {
    width: 44px;
    height: 44px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    padding: 0;
}

.calendarPrevButton:disabled {
    color: v.$color-gray20;
    cursor: default;
}

.headerColumnEmpty {
    color: v.$color-gray20;
}