@use '../../../../../../styles/variables' as v;

.timeSlot {
    font-size: 14px;
    line-height: 145%;
    
    max-width: 60px;
    border-bottom: 1px solid v.$color-gray10;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid v.$color-secondary-shadow;
    }
}

.slotButton {
    width: 100%;
    height: 100%;
    padding: 12px;
    cursor: pointer;
    background: none;
    border: none;
    color: transparent;

    &[data-available="available"] {
        color: v.$color-gray60;
    }

    &[data-available="disabled"] {
        color: v.$color-gray20;
    }

    &[data-selected="true"] {
        background: v.$color-secondary;
    }
}