@use '../../../styles/variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding: 18px 32px;
  background-color: v.$color-white;
  border-radius: 1000px;
  box-shadow: 0px 8px 20px 0px #0000001F;
  box-sizing: border-box;
}

.logo {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -2px;
  color: v.$color-text-main;
  text-decoration: none;

  .accent {
    color: v.$color-accent;
  }
}

.nav {
  display: flex;
  gap: 12px;
}

.navLinkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  cursor: pointer;

  &Active {
    color: v.$color-secondary-shadow;
  }
  
  &:hover {
    color: v.$color-secondary-shadow;
  }
}

.navLinkWrapperActive .navLink {
  color: v.$color-secondary-shadow;
}

.navLinkWrapper:hover .navLink {
  color: v.$color-secondary-shadow;
}

.navLink {
  background: none;
  border: none;
  padding: 0;
  color: v.$color-gray80;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 44px;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
  color: v.$color-gray80;

  background: v.$color-gray20;
  border-radius: 50%;
  cursor: default;
}

.dropdownContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownTrigger {
  background: none;
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  border-radius: 28px;

  &:hover {
    background: v.$color-gray10;
  }
}

.dropdownText {
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: v.$color-gray80;
}

.dropdownIcon {
  padding: 6px;
  color: v.$color-gray80;

  &Active {
    transform: rotate(180deg);
  }
}

.dropdownMenu {
  position: absolute;
  width: 110px;
  height: 132px;
  left: 10px;
  top: 53px;
  padding: 12px;

  background: v.$color-white;
  border-radius: 16px;
  box-shadow: 0px 8px 20px 0px #0000001F;

  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: v.$color-gray80;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownMenuList {
  display: flex;
  flex-direction: column;
}

.dropdownMenuItem {
  padding: 8px 15px;
  cursor: pointer;

  &:hover {
    background: v.$color-gray10;
  }
}

.dropdownMenuItem:last-child {
  border-top: 1px solid v.$color-gray10;
}

.dropdownMenuButton {
  background: none;
  border: none;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: v.$color-gray80;
}