@use '../../styles/variables' as v;

.bookingPage {
    min-height: 100vh;
    margin-top: 20px;
}

.bookingPageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.title {
    color: v.$color-black;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin: 0;
}

.returnLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: v.$color-black;
}

.returnIcon {
    height: 24px;
    width: 24px;
}