@use '../../../styles/variables' as v;

.button {
  /* Adapt width to content and center text */
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border: none;
  border-radius: 100px;
  padding: 8px 24px;
  cursor: pointer;
  /* Prevent text wrapping for all variants */
  white-space: nowrap;

  color: v.$color-white;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
}

.primaryButton {
  background: v.$color-primary;

  &:disabled {
    background: v.$color-gray30;
    cursor: default;
  }

  &:not(:disabled):hover {
    background: v.$color-primary-hover;
  }
}

.secondaryButton {
  background: v.$color-white;
  border: 1px solid v.$color-secondary-shadow;
  color: v.$color-gray80;

  &:hover {
    background: v.$color-secondary;
  }
}

.secondaryModalButton {
  background: inherit;
  color: v.$color-gray80;
  border: 2px solid v.$color-secondary;

  &:hover {
    background: v.$color-secondary;
  }
}

.success {
  background: v.$color-system-success;

  &:hover {
    background: #8FBF73 !important;
  }
}

.error {
  background: v.$color-system-error;

  &:hover {
    background: #C66163 !important;
  }
}

.warning {
  background: v.$color-system-warning;

  &:hover {
    background: #F2DD17 !important;
  }
}

.info {
  background: v.$color-system-info;

  &:hover {
    background: #516DB2 !important;
  }
}