@use '../../../../styles/variables' as v;

.bookingCalendar {
    position: relative;
    width: 840px;
    background: v.$color-white;
    border-radius: 32px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 0;

    &Collapsed {
        height: 317px;
        overflow: hidden;
    }

    &Overlay {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(0.5px);
        z-index: 10;

        font-weight: 500;
        font-size: 28px;
        line-height: 115%;
        color: v.$color-system-info;
    }
}

.warningMessage {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.warningIcon {
    width: 16px;
    height: 16px;
}

.warningText {
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: v.$color-gray30;
}