@use '../../../../styles/variables' as v;

.lessonPreview {
    width: 400px;
    height: 100%;
    background: v.$color-white;
    border-radius: 32px;
    padding: 40px;
    
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.lessonPreviewHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    color: v.$color-black;
    text-align: left;
    text-wrap: none;
    margin: 0;

    &Disabled {
        color: v.$color-gray80;
    }
}

.description {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: v.$color-gray60;
}

.closeButton {
    width: 28px;
    height: 28px;
    padding: 8px;
    background: none;
    border: none;
    color: v.$color-gray60;
    cursor: pointer;
}

.lessonPreviewContent {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.text {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: v.$color-gray80;

    &Subject {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: v.$color-gray80;
        margin-top: 8px;
    }

    &Date {
        font-weight: 400;
        font-size: 14px;
        line-height: 145%;
        color: v.$color-gray30;
    }
}

.containerDate {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 4px;
}

.dropdownTrigger {
    border: none;
    background: none;
    color: v.$color-system-info;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;

    padding: 0;
    margin-top: 28px;

    display: flex;
    flex-direction: row;
    gap: 8px;
}

.dropdownIcon {
    width: 12px;
    height: 12px;
    padding: 6px;
}

.buttonWrapper {
    margin-top: 30px;
}

.buttonWrapperDisabled {
    margin-top: 0;
}

.activeBookingsList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
}

.activeBookingsItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    gap: 5px;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid v.$color-gray30;
}

.activeBookingsText {
    font-weight: 500;
    font-size: 15px;
    line-height: 135%;
    color: v.$color-gray30;

    display: flex;
    gap: 5px;
}

.activeBookingsValue {
    font-weight: 400;
    font-size: 15px;
    line-height: 145%;
    color: v.$color-gray80;
}