@use "../../styles/variables" as v;

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 12px);
  background: v.$color-white;
  padding-top: 12px;

  &GrayBackground {
    background: v.$color-gray10;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main > :first-child {
  padding-inline: 80px;
}