@use '../../styles/variables' as v;

.passwordRecoveryForm {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 480px;
    height: 376px;
    background: v.$color-white;
    padding: 40px;
    border-radius: 32px;
    box-shadow: v.$shadow-main;
    z-index: 1;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    &Wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.returnLink {
    display: flex;
    flex-direction: row;
    align-items: center;

    &Icon {
        color: v.$color-gray80;
    }
}

.title {
    font-weight: 500;
    font-size: 28px;
    color: v.$color-black;
    line-height: 115%;
    margin: 0;
}

.subtitle {
    font-size: 28px;
    font-weight: normal;
    line-height: 100%;
    color: v.$color-black;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttonWrapper {
    margin-top: auto;
}

.text {
    font-size: 14px;
    line-height: 145%;
    color: v.$color-gray60;
    text-align: left;
}

.error {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: v.$color-system-error;
    margin-top: 4px;
    margin-left: 12px;
}

.emailSent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.emailSentLink {
    text-decoration: none;
    color: v.$color-secondary-shadow;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 40px;
}

.iconInfo {
    width: 16px;
    height: 16px;
}