@use "../../styles/variables" as v;

.verificationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.loadingTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 115%;
  color: v.$color-black;
}